.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%; 
    background-color: grey; 
  }

.square {
    width: 50px;
    height: 50px;
    background-color: grey; 
}

.matchList {
    display: flex;             
    justify-content: flex-start; 
    align-items: center;      
    gap: 10px;                
  }

.classList {
    display: flex;             
    justify-content: flex-start; 
    align-items: center;      
    gap: 10px;                
  }
