.account-page {
  display: flex;
  justify-content: space-between;
}
.account-container, .settings-container {
    width: 580px;
    height: 550px;
    margin: 0 auto;
    margin-right: 40px;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 8px;
    background-color: #F3EDF7;
  }
h1 {
  font-size: 48px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 20px;
}
.form-group {
  margin-bottom: 0px;
}
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
input {
  width: 560px;
  padding: 13px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}
select {
  width: 578px;
  padding: 13px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}
option {
  padding: 20px;
}