.account-container {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 8px;
    background-color: #F3EDF7;
  }
h1 {
  font-size: 48px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 20px;
}
.form-group {
  margin-bottom: 15px;
}
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
input {
  width: 580px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}